name: Build STM32

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Toolchain
        run: sudo apt update && sudo apt install -y gcc-arm-none-eabi make

      - name: Build
        run: make

      - name: Upload BIN
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: firmware.bin
